<div class="limbo-twentythree-video-overlay" ng-controller="Limbo.Umbraco.TwentyThree.SpotOverlay as vm" ng-class="{loading: model.loading || vm.loading}">
    <umb-editor-view>
        <div class="umb-editor-header">
            <div class="umb-loader-wrapper top" ng-show="model.loading || vm.loading" aria-hidden="true">
                <div class="umb-loader"></div>
            </div>
            <div class="umb-editor-header-content">
                <div class="umb-panel-header-name" aria-hidden="false">
                    {{model.title}}
                </div>
            </div>
        </div>
        <umb-editor-container>
            <div ng-if="!vm.account" class="--accounts">
                <umb-box>
                    <umb-box-content>
                        <ul class="umb-card-grid" ng-class="{'-three-in-row': model.accounts.length < 7, '-four-in-row': model.accounts.length >= 7}">
                            <li ng-repeat="account in model.accounts" ">
                                <button type="button" class="umb-card-grid-item btn-reset" ng-click="vm.selectAccount(account)">
                                    <span>
                                        <umb-icon icon="icon-application-window-alt"></umb-icon>
                                        <div>
                                            <span>{{account.name}}</span><br />
                                            <small>{{account.domains[0]}}</small>
                                        </div>
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </umb-box-content>
                </umb-box>
            </div>
            <div ng-if="vm.account" class="--video-list">
                <ul class="umb-card-grid -four-in-row">
                    <li ng-repeat="item in vm.spots" ">
                        <button type="button" class="umb-card-grid-item btn-reset" ng-click="vm.selectSpot(item)">
                            <div class="--thumbnail">
                                <img ng-src="{{item.thumbnails.medium.url}}" width="270" height="153" />
                            </div>
                            <div class="--details">
                                <div class="--title">{{item.title}}</div>
                                <div class="--description">{{item.description}}</div>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </umb-editor-container>
        <umb-editor-footer>
            <div>
                <div class="pagination" ng-show="vm.pagination">
                    <ul>
                        <li ng-class="{disabled: vm.pagination.page <= 1}">
                            <button type="button" ng-click="vm.prev()">
                                <localize key="general_previous">Previous</localize>
                            </button>
                        </li>
                        <li ng-repeat="pgn in vm.pagination.pagination" ng-class="{active: pgn.active}">
                            <button type="button" ng-click="vm.getVideos(pgn.page)">{{pgn.page}}</button>
                        </li>
                        <li ng-class="{disabled: vm.pagination.page >= vm.pagination.pages}" class="">
                            <button type="button" ng-click="vm.next()" >
                                <localize key="general_next">Next</localize>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            shortcut="esc"
                            label-key="general_close"
                            action="model.close()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>